html {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
nav{
  display: flex;
  justify-content: space-around;
}

canvas {
  border: 2px solid black;
  display: block;
  margin: auto;
  width: 800px;
  height: 600px;
}

nav a {
  text-decoration: none;
}

header {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 25rem;
  justify-content: space-between;
}


#xp-bar {
  width: 300px;
  width: 200px;
  height: 20px;
  background-color: #ccc;
}

#xp-progress {
  height: 100%;
  background-color: #4caf50;
}

.widgets,
.adds {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-height: 600px;
}

.ads {
  margin-left: 2rem;
}

main article ul {
  list-style-type: none;
}

.ads img {
  max-width: 10rem;
  height: auto;
}

.widgets {
  margin-left: 1rem;
  margin-right: 2rem;
}

section:last-child {
  display: flex;
  flex-direction: column;
}

section:last-child img {
  order: -1;
}
main{
  display: flex;
}

